* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* ===========common================== */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}
.btn:hover {
  opacity: 0.7;
}
.btn {
  display: inline-block;
  color: #fff;
  min-width: 118px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: black;
  border-radius: 999px;
  padding: 0 16px;
  line-height: 50px;
  cursor: pointer;
}
.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: -0.76px;
}
/* ===========header================== */
.hed {
  background-color: #e9e0e0;
}
.hed.fix {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.hed .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav ul {
  display: flex;
}

.body .nav {
  margin-left: auto;
}

.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 0 21px;
  position: relative;
}
.nav li.active a,
.nav a:hover {
  text-shadow: 1px 0 0 #000;
}
.nav li.active a::after {
  content: "";
  height: 2px;
  width: 12px;
  background-color: black;
  display: block;
  position: absolute;
  left: 21px;
}

.hed .btn-sign {
  min-width: 144px;
}
.hed .action {
  margin-left: 49px;
}

/* ============hero=========== */
.hero {
  padding: 56px;
  background-color: rgb(209, 209, 232);
}
.hero .body {
  display: flex;
}
.hero .media-block {
  width: 48%;
  position: relative;
}
.hero .content-block {
  width: 52%;
}
.hero .media-block .ing {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-sumary {
  padding: 24px;
  position: absolute;
  background-color: rgb(229, 229, 237);
  width: 270px;
  right: 0;
  border-radius: 12px;
  bottom: 48px;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}
.hero-sumary .item {
  display: flex;
}
.hero-sumary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(222, 243, 222);
  margin: 0 16px 22px 0;
}

.hero-sumary .i2 {
  background-color: rgb(214, 214, 235);
}
.hero-sumary .i3 {
  background-color: rgb(235, 214, 230);
}
.hero-sumary .lablel {
  font-size: 1.4rem;
  color: rgb(116, 116, 172);
  line-height: 1.86;
}
.hero-sumary .title {
  font-size: 1.8rem;
  color: rgb(34, 34, 100);
  font-weight: 600;
  line-height: 1.67;
}
/* ========hero_right========== */
.hero .content-block {
  padding-left: 130px;
  padding-top: 64px;
  width: 52%;
}
.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}
.hero .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.66; /* 166.667% */
  margin-top: 22px;
}
.hero .cta-group {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.hero-cta {
  min-width: 180px;
  line-height: 64px;
  background-color: var(--primary-color);
}
.hero .watch-video {
  border: none;
  background: transparent;
  display: flex;
  padding-left: 28px;
  align-items: center;
  cursor: pointer;
}
.watch-video img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.watch-video span {
  padding-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66; /* 166.667% */
}
.hero .desc-resen {
  margin-top: 18px;
}
.hero .stats {
  margin-top: 10px;
}
.hero .stats strong {
  color: black;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  line-height: 1.23;
  margin-right: 15px;
  font-weight: bold;
}
.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}

/* =======popular-top=========== */
.popular {
  padding: 51px 0;
  background-color: #bac0df;
}
.popular-top {
  display: flex;
  justify-content: space-between;
}

.popular-top .desc {
  color: #5f5b53;
  font-size: 2rem;
  line-height: 1.67;
  width: 458px;
  margin-top: 16px;
}

.popular-top .control {
  display: flex;
  align-items: center;
  gap: 18px;
}

.popular-top .control-btn {
  border-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}
.popular-top .control-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

/* -----------coure-list--------- */
.course-list {
  padding: 55px 0;
  display: flex;
  justify-content: space-between;
}
.popular .course-item {
  width: 370px;
  height: 466px;
  background-color: #bbc1d0;
}
.course-item .thumb {
  width: 370px;
  height: 278px;
  border-radius: 12px 12px 0px 0px;
}
.course-item .info {
  padding: 16px 22px;
}
.course-item .head {
  display: flex;
  justify-content: space-between;
}
.course-item .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
.course-item .rating {
  width: 48px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.course-item .star {
  width: 18px;
  height: 18px;
}
.course-item span {
  color: #fea31b;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}
.course-item p {
  margin: 6px 0 12px;
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.65; /* 185.714% */
}
.course-item .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course-item .bfoot:hover {
  background-color: var(--primary-color);
  border: 1px solid transparent;
}
.course-item .foot span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.66; /* 166.667% */
}
.popular .course-item:hover {
  border: 1px solid transparent;
  border-radius: 12px;
  box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
}
